[submodule "tmux/.tmux/themes/nord-tmux"]
	path = tmux/.tmux/themes/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux-cpu"]
	path = tmux/.tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule "tmux/.tmux/plugins/tmux-online-status"]
	path = tmux/.tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status.git
[submodule "vim/.vim/plugged/vim-rtags"]
	path = vim/.vim/plugged/vim-rtags
	url = https://github.com/lyuts/vim-rtags
[submodule "vim/.vim/plugged/vim-mucomplete"]
	path = vim/.vim/plugged/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete
[submodule "vim/.vim/plugged/vim-surround"]
	path = vim/.vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/plugged/vim-signify"]
	path = vim/.vim/plugged/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/.vim/plugged/vim-fugitive"]
	path = vim/.vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/plugged/gundo.vim"]
	path = vim/.vim/plugged/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/.vim/plugged/fzf.vim"]
	path = vim/.vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/plugged/vim-easymotion"]
	path = vim/.vim/plugged/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/.vim/plugged/vim-commentary"]
	path = vim/.vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/plugged/vim-closer"]
	path = vim/.vim/plugged/vim-closer
	url = https://github.com/rstacruz/vim-closer
[submodule "vim/.vim/plugged/ctrlp.vim"]
	path = vim/.vim/plugged/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/plugged/vimux"]
	path = vim/.vim/plugged/vimux
	url = https://github.com/benmills/vimux
[submodule "vim/.vim/plugged/ale"]
	path = vim/.vim/plugged/ale
	url = https://github.com/w0rp/ale
[submodule "vim/.vim/plugged/clang_complete"]
	path = vim/.vim/plugged/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "vim/.vim/plugged/vim-textobj-rubyblock"]
	path = vim/.vim/plugged/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "vim/.vim/plugged/splitjoin.vim"]
	path = vim/.vim/plugged/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/.vim/plugged/vim-turbux"]
	path = vim/.vim/plugged/vim-turbux
	url = https://github.com/jgdavey/vim-turbux
[submodule "vim/.vim/plugged/tagbar"]
	path = vim/.vim/plugged/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/plugged/vim-textobj-user"]
	path = vim/.vim/plugged/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/.vim/plugged/terminus"]
	path = vim/.vim/plugged/terminus
	url = https://github.com/wincent/terminus
[submodule "vim/.vim/plugged/vim-sleuth"]
	path = vim/.vim/plugged/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/.vim/plugged/auto-pairs"]
	path = vim/.vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/.vim/plugged/lightline.vim"]
	path = vim/.vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/plugged/vim-ansible-yaml"]
	path = vim/.vim/plugged/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml
[submodule "vim/.vim/plugged/vim-bundler"]
	path = vim/.vim/plugged/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/.vim/plugged/vim-markdown"]
	path = vim/.vim/plugged/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/.vim/plugged/nord-vim"]
	path = vim/.vim/plugged/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "vim/.vim/plugged/vim-cpp-enhanced-highlight"]
	path = vim/.vim/plugged/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "vim/.vim/plugged/vim-tmux-navigator"]
	path = vim/.vim/plugged/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/.vim/plugged/vim-devicons"]
	path = vim/.vim/plugged/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/.vim/plugged/vim-endwise"]
	path = vim/.vim/plugged/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/.vim/plugged/vim-flog"]
	path = vim/.vim/plugged/vim-flog
	url = https://github.com/rbong/vim-flog
[submodule "vim/.vim/plugged/vim-nerdtree-syntax-highlight"]
	path = vim/.vim/plugged/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "vim/.vim/plugged/vim-css-color"]
	path = vim/.vim/plugged/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "vim/.vim/plugged/fzf"]
	path = vim/.vim/plugged/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/plugged/indentLine"]
	path = vim/.vim/plugged/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vim/.vim/plugged/vim-ruby"]
	path = vim/.vim/plugged/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/.vim/plugged/nerdtree"]
	path = vim/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/plugged/vim-repeat"]
	path = vim/.vim/plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/.vim/plugged/rust.vim"]
	path = vim/.vim/plugged/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/plugged/tabular"]
	path = vim/.vim/plugged/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/.vim/plugged/vim-go"]
	path = vim/.vim/plugged/vim-go
	url = https://github.com/fatih/vim-go
